h1 {
      text-align: center;
    }

table, th {
  border: 1px solid black;
  text-align: center;
  height: auto;
  overflow: visible;
}

td {
  border: 1px solid black;
  text-align:left;
  font-size: 14px;
  width:  auto;
  overflow: hidden;
  white-space: nowrap;
}

#table2State td{
  border: 1px solid black;
  text-align:left;
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  width:  auto;
  overflow: hidden;
  white-space: nowrap;
}


#optionalMenu th {
  background-color: rgb(80, 155, 235);
  color: rgba(255, 255, 255, 255);
}
